<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flask_Chat_App</title>
</head>
<body>

<h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
<div class="message_holder"></div>

<form action="" method="POST">
    <input type="text" class="username" placeholder="User Name"/>
    <input type="text" class="message" placeholder="Messages"/>
    <input type="submit"/>
</form>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script type="text/javascript">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    console.log("location: " + location.port)
    console.log("domain: " + document.domain)
    console.log("socket: " + socket.connected)

    socket.on('connect', function () {
         console.log("socket after conncted: " + socket.connected)
        socket.emit('user_connect', {
            data: 'User Connected'
        })
    })


        var form = $('form').on('submit', function (e) {
            e.preventDefault()
            let user_name = $('input.username').val()
            let user_input = $('input.message').val()
            socket.emit('my event', {
                user_name: user_name,
                message: user_input
            })
            $('input.message').val('').focus()
        })


    socket.on('broadcast', function (msg) {
        console.log("Output " + msg)
        msg = JSON.parse(msg);
        for(var x = 0; x<msg.length; x++) {

            console.log("Output user_name: " + msg[x].user_name)
            console.log("Output message: " + msg[x].message)

            if (typeof msg[x].user_name !== 'undefined') {
                $('h3').remove()
                $('div.message_holder').append('<div><b style="color: #000">' + msg[x].user_name + '</b> ' + msg[x].message + '</div>')
            }

        }
    })

     socket.on('my response', function (msg) {
        console.log("Output " + msg)
            if (typeof msg.user_name !== 'undefined') {
                $('h3').remove()
                $('div.message_holder').append('<div><b style="color: #000">' + msg.user_name + '</b> ' + msg.message + '</div>')
            }
    })


</script>

</body>
</html>